<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create SubReddit</title>
</head>
<body>
<h1>Create SubReddit</h1>
<form th:action="@{/sub/new}" th:object="${subReddit}" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" th:field="*{name}" required><br><br>

    <label for="description">Description:</label>
    <textarea id="description" th:field="*{description}" rows="4" cols="50" required></textarea><br><br>

    <input type="submit" value="Create SubReddit">
</form>
</body>
</html>
